@{
    ViewData["Title"] = "Список тем";
}
<h2>Список тем форума</h2>
<div class="d-flex justify-content-around align-items-center rounded" style="background-color: white;">
    <div class="card shadow-pl p-3 margin-top" style="width: 1500px; border-radius: 15px; background-color: white;">
        @if (Model != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Заголовок</th>
                        <th>Контент</th>
                        <th>Дата создания</th>
                        <th>Просмотры</th>
                        <th>Лайки</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in Model)
                    {
                        <tr>
                            <td class="text">
                                <a href="@Url.Action("DetailsAdmin", "Topic", new { id = topic.Id })">@topic.Title</a>
                            </td>
                            <td class="card-text text-muted">@topic.Content.Substring(0, Math.Min(40, topic.Content.Length))...</td>
                            <td>@topic.CreatedAt</td>
                            <td>@topic.ViewsCount</td>
                            <td>@topic.LikesCount</td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Пагинация -->
            <div class="pagination">
                @if (ViewBag.CurrentPage > 1)
                {
                    <a href="@Url.Action("TopicList", new { pageNumber = ViewBag.CurrentPage - 1 })">« Предыдущая</a>
                }
                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <a href="@Url.Action("TopicList", new { pageNumber = ViewBag.CurrentPage + 1 })">Следующая »</a>
                }
            </div>
        }
        else
        {
            <p>Темы отсутствуют.</p>
        }
    </div>
</div>